.suggested_wrapper {
  display: flex;
  gap: 8px;
}

.preview_wrapper {
  flex: 0 0 168px;
  height: 94px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.video_info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.video_title {
  color: inherit;
  line-height: 20px;
  font-weight: 500;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
}

.channel_title, .video_stats {
  font-size: 12px;
  line-height: 18px;
  color: #606060;
}

.channel_title {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
}

.video_stats {
  display: flex;
  gap: 4px;
}