.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  padding: 10px;
  position: fixed;
  z-index: 1;
  left: 0px;
  top: 0px;
  right: 0px;
  background: #fff;
}

.header.darkmode {
  background: #000;
}

.burger {
  cursor: pointer;
}

.MenuLogo_group {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 2px;
  font-size: 22px;
  color: inherit;
}

.searchForm {
  position: relative;
}

.searchInput {
  border: 1px solid #ccc;
  padding: 8px 34px 8px 16px;
  border-radius: 14px;
  min-width: 300px;

  &::placeholder {
    opacity: .5;
  }
}

.searchIcon {
  font-size: 18px;
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.darkmodeButton {
  width: 30px;
  height: 16px;
  border: 1px solid #000;
  border-radius: 8px;
  position: relative;
  background: #fff;
  cursor: pointer;
  transition: all .3s ease;

  &::before {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    background: #000;
    border-radius: 50%;
    position: absolute;
    left: 1px;
    top: 1px;
  }

  input {
    display: none;
  }
}

.darkmodeButton.active {
  border: 1px solid #fff;
  background: #000;

  &::before {
    background: #fff;
    left: auto;
    right: 1px;
  }
}