.wrapper {
  display: flex;
  gap: 24px;
}

.video_box {
  display: flex;
  flex-direction: column;
  gap: 24px;
  overflow: hidden;
}

.video_area {
  width: 100%;
  padding-top: 56%;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
}

.video_title {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
}

.video_bio {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.video_channel {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  gap: 12px;
}

.channel_avatar {
  flex: 0 0 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.channel_stats {
  display: flex;
  flex-direction: column;
}

.channel_title {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: inherit;
}

.channel_subscribers {
  font-size: 12px;
  line-height: 18px;
  color: #606060;
}

.video_likes {
  display: flex;
  align-items: center;
  gap: 4px;
}

.video_info {
  background: rgb(0 0 0 / 5%);
  border-radius: 12px;
  padding: 12px;
}

.video_data {
  display: flex;
  gap: 4px;
  line-height: 20px;
  font-weight: 500;
}

.video_description {
  line-height: 20px;
}
